<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StarNumMapper">
	<resultMap type="starNum" id="starSelectMap">
		<result property="score" column="score" jdbcType="NUMERIC" />
		<result property="userId" column="buyer_id" jdbcType="VARCHAR" />
		<result property="prodNo" column="prod_no" jdbcType="NUMERIC" />
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC" />
		<result property="review" column="review" jdbcType="VARCHAR" />
		<result property="checkB" column="checkB" jdbcType="VARCHAR" />				
	</resultMap>
	
	<!-- INSERT -->
	<insert id="addStarNum" parameterType="starNum">
		INSERT
		INTO starNum
		VALUES (#{score}, #{prodNo},#{userId},#{tranNo},#{review:VARCHAR},#{checkB})
	</insert>
</mapper>